<div class="card card-dark">
  <div class="title text-primary">{{ title }}</div>
  <form [formGroup]="form">
    <div class="form-group">
      <label class="text-primary">Name</label>
      <input formControlName="name" class="form-control" />
    </div>
    <div class="form-group">
      <label class="text-primary">BOID Number</label>
      <input formControlName="boid" type="number" class="form-control" />
      <small class="text-danger"
        *ngIf=" boidError?.touched && boidError?.dirty && ( boidError?.errors?.min || boidError?.errors?.max);">BOID
        Number should be of
        16 digits.</small>
    </div>
    <div class="button-group" [ngClass]="user?.name ? 'three-items' : ''">
      <button type="cancel" class="cancel" (click)="close()">Cancel</button>
      <button type="button" class="delete" *ngIf="user?.name" (click)="deleteUser()">
        Delete
      </button>
      <button class="submit" [disabled]="!form.valid" (click)="submit()">
        Save
      </button>
    </div>
  </form>
</div>