:host{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
}

  .floating-button{
      cursor:pointer;
      position:fixed;
      bottom:1rem;
      right:1rem;
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:28px;
      font-weight:bolder;
      color:white;
      background:#ff00ff;
      box-shadow:1px 1px 3px grey;
      height:70px;
      width:70px;
      border-radius:50%;

       
  }
