form{

    min-width:400px;

}
.form-group{
    margin-bottom:1rem;
}
input{
    display:block;
    width:calc(400px - 2rem);
    padding:.7rem 1rem;
    border:1px solid #cccccc;
    border-raidus:7px;
     
}
.button-group{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:1rem;
    
}

.button-group button{
    border:none;
    padding:.7rem 1rem;
    cursor:pointer;
    
}
button.submit{
    background:#ff00ff;
    color:white;
}
